@import url(../content-title/content-title.css);
@import url(../content-subtitle/content-subtitle.css);
@import url(./__container/comments__container.css);

.comments {
    padding: 48px;
    min-height: 618px;
    margin-top: 54px;
}

@media screen and (max-width: 768px) {
    .comments {
        padding-bottom: 0;
        padding-left: 54px;
        padding-right: 54px;
        min-height: 1063px;
    }
}

@media screen and (max-width: 375px) {
    .comments {
        margin: 0;
        padding: 64px 16px 0;
        min-height: 1089px;
    }
}

@media screen and (max-width: 345px) {
    .comments {
        max-width: 288px;
        min-height: 1136px;
    }
}