.video__item-bg_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 583px;
    height: 323px;
    z-index: -2;
    border-radius: 5px;
}

@media screen and (max-width: 375px) {
    .video__item-bg_image {
        width: 343px;
        height: 200px;
    }
}