.lead__image_train {
    grid-column: 1/1;
    grid-row: 1/1;
}

@media screen and (max-width: 1024px) {
    .lead__image_train {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image_train {
        max-width: 768px;
    }
}

@media screen and (max-width: 375px) {
    .lead__image_train {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image_train {
        max-width: 320px;
    }
}