.comments__container {
    min-height: 283px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .comments__container {
        max-width: 382px;
        min-height: 806px;
        flex-wrap: wrap;
        margin: auto;
    }
}
