.comments__container {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .comments__container {
        max-width: 382px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
}