.cover__subtitle {
    max-width: 382px;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.6rem;
    text-align: center;
    margin-top: 11%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 375px) {
    .cover__subtitle {
        max-width: 250px;
        font-size: 0.8rem;
        line-height: 1rem;
        margin-top: 30px;
    }
}