.cover__subtitle {
    max-width: 382px;
    height: 69px;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.6rem;
    text-align: center;
    margin: 134px auto 48px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin-top: 171px;
    }
}

@media screen and (max-width: 375px) {
    .cover__subtitle {
        max-width: 250px;
        font-size: 0.8rem;
        line-height: 1rem;
        margin-top: 7px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 0.8rem;
        line-height: 1rem;
        margin-top: 7px;
    }
}