.cover__subtitle {
    max-width: 382px;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.6rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 134px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        padding-top: 67px;
    }
}

@media screen and (max-width: 375px) {
    .cover__subtitle {
        max-width: 250px;
        font-size: 0.8rem;
        line-height: 1rem;
        padding-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 0.8rem;
        line-height: 1rem;
        padding-top: 20px;
    }
}