.video__item {
    position: relative;
    text-decoration: none;
    width: 50%;
    height: 323px;
    overflow: hidden;
}

.video__item:first-of-type {
    margin-right: 18px;
}

.video__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0;
}

.video__item:hover::before{
    opacity: .7;
    transition: 2s ease-out;
  }

@media screen and (max-width: 1024px) {
    .video__item{
        height: 288px;
    }
    .video__item:first-of-type {
        margin-right: 16px;
    }
}

@media screen and (max-width: 768px) {
    .video__item {
        height: 200px;
    }
}

@media screen and (max-width: 460px) {
    .video__item {
        height: 200px;   
        width: 100%;
    }
    .video__item:first-of-type {
        margin-right: 0;
        margin-bottom: 8px; 
    }
}

@media screen and (max-width: 320px) {
    .video__item {
        height: 192px; 
    }
}