.footer__link {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.5rem;
    margin-right: 18px;
    text-decoration: none;
    color: white;
}

.footer__link:hover {
    cursor: pointer;
    opacity: .7;
    transition: 2s ease-out;
}

@media screen and (max-width: 948px) {
    .footer__link {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 832px) {
    .footer__link {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}


@media screen and (max-width: 753px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}