.lead__title {
    max-width: 782px;
    font-weight: bold;
    font-size: 6rem;
    line-height: 5.8rem;
    text-align: center;
    margin: 0 auto;
    padding: 48px;
}

@media screen and (max-width: 375px) {
    .lead__title {
        font-size: 2.5rem;
        line-height: 2.7rem;
        max-width: 300px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0;
    }
}