.place__paragraph {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.8rem;;
}
.place__paragraph:first-of-type {
    margin-top: 0;
    margin-bottom: 36px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        margin: 0 auto 64px;
        min-height: 144px;
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 375px) {
    .place__paragraph {
        margin: 0 16px;
    }

    .place__paragraph:first-of-type {
        margin-bottom: 24px;
    }
}