.place__paragraph {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.8rem;;
}
.place__paragraph:first-of-type {
    margin-top: 0;
    margin-bottom: 36px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph:first-of-type {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 580px) {
    .place__paragraph {
        margin-left: 16px;
    }
}

@media screen and (max-width: 375px) {
    .place__paragraph {
        max-width: 343px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
    }
}