.footer__copyright {
    font-size: 0.87rem;
    font-weight: normal;
    line-height: 1.25rem;
    margin: 0;
}

@media screen and (max-width: 753px) {
    .footer__copyright {
        margin-top: 48px;
    }
}