.lead__image_road {
    grid-column: 1/1;
    grid-row: 1/1;
    margin: 13% auto;
}

@media screen and (max-width: 1024px) {
    .lead__image_road {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image_road {
        max-width: 768px;
    }
}

@media screen and (max-width: 375px) {
    .lead__image_road {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image_road {
        max-width: 320px;
    }
}