.root {
    max-width: 1280px;
    min-height: 8080px;
    margin: auto;
    background-color: #2A2C2F;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
    .root {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .root {
        max-width: 768px;
    }
}

@media screen and (max-width: 375px) {
    .root {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .root {
        max-width: 320px;
    }
}