@import url(./__item/cover__item.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    max-width: 90%;
    height: 594px;
    margin: 102px auto 0;
    background-image: url(../../images/depo.png);
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;  
        height: 562px;      
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        height: 500px;
    }
}

@media screen and (max-width: 375px) {
    .cover {
        max-width: 375px;
        height: 272px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        height: 216px;
        margin-top: 64px;
    }
}
