.header__lang_en {
    max-width: 30px;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 375px) {
    .header__lang_en {
        font-size: 1.1rem;
    }
}