.cover__title {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 4.87rem;
    text-align: center;
    margin: 0;
    padding-top: 274px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        max-width: 50%;
        padding-top: 211px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        max-width: 70%; 
        padding-top: 165px;
    }
}

@media screen and (max-width: 375px) {
    .cover__title {
        font-size: 2rem;
        line-height: 2.1rem;
        max-width: 250px;
        padding-top: 104px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 2rem;
        line-height: 2.1rem;
        max-width: 288px;
        padding-top: 64px;
    }
}