.cover__title {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 4.87rem;
    text-align: center;
    margin-top: 274px;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        width: 50%;
        margin-top: 211px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        width: 70%; 
        margin-top: 150px;
    }
}

@media screen and (max-width: 375px) {
    .cover__title {
        font-size: 2rem;
        line-height: 2.1rem;
        max-width: 250px;
        margin-top: 104px;
    }
}