@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url/place__url-heading.css);
@import url(./__url/place__url-link.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    margin: 0 auto 72px;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content);
    grid-template-rows: 1f minmax(min-content, max-content);
    grid-gap: 40px 60px;
    grid-template-areas:
    "title website"
    "image paragraph";
}

@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 32px 40px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-column-gap: 28px;
        margin: 0 auto 81px;
    }
}

@media screen and (max-width: 375px) {
    .place {
        display: flex;
        flex-direction: column;
        grid-row-gap: 24px;
        margin-bottom: 48px;
    }
}