.place__website {
    align-self: end;
}

@media screen and (max-width: 580px) {
    .place__website {
        margin-left: 16px;
    }
}

@media screen and (max-width: 580px) {
    .place__website {
        display: none;
    }
}