.video__container {
    margin: 0 auto;
    display: flex;
}

@media screen and (max-width: 375px) {
    .video__container {
        flex-direction: column;
        height: 408px;
    }
}

@media screen and (max-width: 320px) {
    .video__container {
        height: 392px;
    }
}